.containerBody {
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  position: relative;
  width: 500px;
  flex-grow: 1;
}

.subBody {
  background-color: white;
  width: 98%;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.subBody h3 {
  text-align: center;
  color: #1a237e;
  font-weight: bold;
}

.containerBody strong {
  font-size: 20px;
}

.inforDiv {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  font-size: 25px;
}

.child {
  width: 30%;
  height: 80%;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: #1a237e;
  font-weight: bold;
  text-align: center;
}
