.container {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}

.header1 {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0px 0px;
}

.header2 {
  font-style: italic;
  margin-bottom: 5px;
}
