* {
  font-family: 'Source Sans Pro', sans-serif;
}
html,
body {
  height: 100%;
  background-color: #ccc;
  margin: 0px;
}

:root {
  --blue1: #ceeffa;
  --blue2: #184588;
  --blue3: #546e7a;
  --blue4: #1a237e;
  --blue5: blue;
}
