.formLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  margin-top: 10px;
}

.form {
  width: 70%;
  color: #5c6bc0;
}

.formGroup {
  margin: 5px 0px;
}

.formLabel {
  margin: 0px;
}
.btn {
  width: 100%;
  margin: 1px 0px;
}

.textFooter {
  display: flex;
  text-align: center;
  color: black;
}
